* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  text-align: center;
  background: #f5f5f5;
  padding-top: 50px;
  
}

.header {
  margin: 30px;
  font-size: 70px;
  font-weight: bold;
  color: #009688;
  border: 5px solid black;
  border-radius: 100px;
  margin: 0px 500px;
  position: relative;
}

.sub-container {
  max-width: 1200px;
  margin: auto;
  padding: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.teams {
  margin: 10px;
  padding: 22px;
  max-width: 30%;
  cursor: pointer;
  transition: 0.4s;
  box-sizing: border-box;
}

.teams:hover {
  background: #ddd;
  border-radius: 12px;
}

.teams img {
  width: 200px;
  height: 200px;
}

.name {
  padding: 12px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  color: #009688;
}

.profession {
  font-style: italic;
  color: black;
}

.about {
  margin: 20px 0;
  font-weight: lighter;
  color: #4e4e4e;
}

.social-links {
  margin: 14px;
}

.social-links a {
  display: inline-block;
  height: 30px;
  width: 30px;
  transition: 0.4s;
}

.social-links a i {
  color: #444;
}

.social-links a :hover {
  transform: scale(1.5);
}

@media screen and (max-width: 600px) {
  .teams {
    max-width: 100%;
  }
}
